:root {
    --dark: #070e17ff;
    --blue: #3b465d;
    --brunt: #af5e5385;
    --burnt-light: #af5e53;
    --amber:#d48535;
    --cream: #baaca3;
}

/* Removes bullet points from list */
nav li {
    list-style: none;
}

nav li:hover {
    color: var(--amber);
}

/* Set font, backgrond, and text-color of page */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #192635;
    color: var(--cream);
}

/* Set font for title */
h1 {
    font-family: 'Oranienbaum', serif;
}

/* Set background color for header and footer */
header, footer{
    background-color: var(--dark);
}

/* Set colors for input box */
input {
    background-color: #e8deda;
    color: var(--brunt);
}

/* CSS for the sidepanel */
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: var(--dark);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
  
/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--cream);
  display: block;
  transition: 0.3s;
}
  
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: var(--brunt);
}
  
/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
  
/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: var(--dark);
  color: var(--brunt);
  padding: 10px 15px;
  border: none;
}
  
.openbtn:hover {
  background-color: var(--blue);
  color: var(--burnt-light);
}
  
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* the tabs for navigating recipes - styling*/
.tab {
    overflow: hidden;
    border: 2px solid var(--blue);
    background-color: var(--dark);
}

/* styling the buttons in side tab */
.tab button {
    color: var(--brunt);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of tab buttons on hover */
.tab button:hover {
    background-color: var(--blue);
    color: var(--burnt-light);
}

/* create an active/current tablink class*/
.tab button.active {
    background-color: var(--cream);
    color: var(--blue);
}

/* Style the tab content */
.tabcontent {
    display: contents;
    padding: 6px 12px;
    border-top: none;
  }

/* Set background color and create a border for search-forms */
.custom-form {
    background-color: var(--dark);
    border: 2px solid var(--blue);
}

/* Set background color and text color for form input */
.custom-input {
    background-color: var(--cream);
    color: var(--blue);
}

/* Change background and text color when input is hovered*/
.custom-input:hover {
    background-color: var(--burnt-light);
    color: var(--cream);
}

/* Set background color for button */
.custom-btn {
    background-color: var(--brunt);
}

/* Change background and text color when button is hovered */
.custom-btn:hover {
    background-color: var(--blue);
    color: var(--burnt-light);
}

/* movie appended results */
#movie-results-print {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    background-color: var(--dark);
    position: relative;
    overflow: hidden;

}

.movie-image {
    width:100%;
    height: 444.44px;
}

.movie-title {
    color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    height: 90px;
}

.movie-content {
    background-color: var(--brunt);
    color: var(--cream);
    position: absolute;

}
