:root {
    --dark: #070e17ff;
    --blue: #3b465d;
    --brunt: #af5e5385;
    --burnt-light: #af5e53;
    --amber:#d48535;
    --cream: #baaca3;
}

/* Removes bullet points from list */
nav li {
    list-style: none;
}

nav li:hover {
    color: var(--amber);
}

/* Set font, backgrond, and text-color of page */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #192635;
    color: var(--cream);
}

/* Set font for title */
h1 {
    font-family: 'Oranienbaum', serif;
}

/* Set background color for header and footer */
header, footer{
    background-color: var(--dark);
}

/* Set background color and create a border for search-forms */
.custom-form {
    background-color: var(--dark);
    border: 2px solid var(--blue);
}

/* Set background color and text color for form input */
.custom-input {
    background-color: var(--cream);
    color: var(--blue);
}

/* Change background and text color when input is hovered*/
.custom-input:hover {
    background-color: var(--burnt-light);
    color: var(--cream);
}

/* Set background color for button */
.custom-btn {
    background-color: var(--brunt);
}

/* Change background color when button is hovered */
.custom-btn:hover {
    background-color: var(--blue);
}

/* movie appended results */
.movie-card-body {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.movie-title {
    font-size: 30px;
    font-weight: bold;
}

.movie-image {
    display:flex;
    justify-content: center;
}